<% if model.errors.any? %>
	<div class="alert alert-warning">
	<%= pluralize(model.errors.count,"error") %> prohibited this obj from being saved:
	<ul>
	  <% model.errors.full_messages.each do |message| %>
	    <li><%= message %></li>
	  <% end %>
	</ul>
	</div>
<% end %>
